table {
    width: 100%;
    background-color: var(--content-bg);
    // color:azure
    height:10px;
    
  }
  
  tr.example-detail-row {
    height: 0px;
  }
  
  tr.example-element-row:not(.example-expanded-row):hover {
    background: var(--bg-color);
  }
  
  tr.example-element-row:not(.example-expanded-row):active {
    background: var(--theme-bg-color);
  }
  
  .example-element-row td {
    border-bottom-width: 0;
    color:azure;
    font-weight: lighter;
  }

  .example-detail-row td {
    border-bottom-width: 0;
    color:azure;
    font-weight: lighter;
  }

  
  .example-element-detail {
    overflow: hidden;
    display: flex;
    
  }
  
  .example-element-diagram {
    min-width: 80px;
    border: 2px solid black;
    padding: 8px;
    font-weight: lighter;
    margin: 8px 0;
    height: 104px;
  }
  
  .example-element-symbol {
    font-weight: bold;
    font-size: 40px;
    line-height: normal;
  }
  
  .example-element-description {
    padding: 16px;
    
  }
  
  .example-element-description-attribution {
    opacity: 0.5;
  }
  
  .inner-table {
    width: 100%;
    margin-top: 15px;
  }
  
  .inner-table mat-form-field {
    margin-top: 15px;
    width: 100%;
    

  }
  
  