<mat-menu #childMenu="matMenu" class="mat-menu-dropdown" [overlapTrigger]="false">
      
    <span *ngFor="let child of items">
      <!-- Handle branch node menu items -->
      <span *ngIf="child.children && child.children.length > 0">
        <button mat-menu-item color="primary" [matMenuTriggerFor]="menu.childMenu"  >
         
          <span>{{child.displayName}}</span>
        </button>
        <app-device-menu #menu [items]="child.children"></app-device-menu>
      </span>
      <!-- Handle leaf node menu items -->
      <span *ngIf="!child.children || child.children.length === 0">
        <button mat-menu-item (click)="gotToAddLevel(child)">
          
          <span>{{child.displayName}}</span>
        </button>
      </span>
    </span>
  </mat-menu>