
  
  .toggleContainer::before{
    content: '';
    position: absolute;
    width: 47%;
    height: 84%;
    left: 0%;
    background: var(--content-bg);
    transition: all 0.3s;
    margin-top: 3px;
    margin-left: 3px;
    border: 1px solid var(--theme-bg-color);
    border-radius: 2.25rem;

  }
  
  
  
  .toggleCheckbox:checked + .toggleContainer::before {
     left: 50%;
  }
  .toggleContainer div {
    padding: 6px;
    text-align: center;
    z-index: 1;
    border-radius: 2.25rem;
  }
  .toggleCheckbox {
    display: none;
  }
  .toggleCheckbox:checked + .toggleContainer div:first-child{
    color: #343434;
    transition: color 0.3s;
  }
  .toggleCheckbox:checked + .toggleContainer div:last-child{
    color: #fff;
    transition: color 0.3s;
  }
  .toggleCheckbox + .toggleContainer div:first-child{
    color: #fff;
    transition: color 0.3s;
  }
  .toggleCheckbox + .toggleContainer div:last-child{
    color: #343434;
    transition: color 0.3s;
  }