<div class="backdrop">
    <mat-card class="openAlertStyles" style="width: 320px;">
      <div class="d-flex" style="align-items: center; padding-bottom: 10px;padding-left: 15px;">
        <span class="header-card-text" style="min-width: 180px;"> Upload Site Image </span>
        <button mat-icon-button (click)="dialogclose()" style="right:3px;top:3px;position: absolute; border: none;">
          <mat-icon>close</mat-icon></button>
      </div>
      <hr style="border: 1px solid white !important; opacity:1;margin-top: 0px; width: 92%;margin-left:5px;">
      <div class="scroll-cont"
        style="margin-right: 5px; margin-left: 5px; background-color: linear-gradient(to right, #5f6063, #5b5c5f);">
        <file-pond #myPond 
        [options]="pondOptions" 
        [files]="pondFiles"
        (oninit)="pondHandleInit()"
        (onaddfile)="pondHandleAddFile($event)"
        (onactivatefile)="pondHandleActivateFile($event)">
    </file-pond>
      </div>
    </mat-card>
  </div>