#device-map{
    width: 100%;
 height: 100%;
 overflow: hidden;
 position: relative;
 top: 0;
 border-radius: 5px;
 right: 0;
 }


  .box-list {
    //border: dashed black 1px;
    display: inline-flex;
      align-items: center;
      flex-direction: column;
    /* when cdkDropListOrientation="horizontal" comment out flex properties below: */
    /* flex-direction: row; */
    margin: .5em;
    padding: .5em 0;
    width: 45%;
  }
  
  .box-list.cdk-drop-list-dragging .example-box:not(.cdk-drag-placeholder) {
    transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
  }
  
  
  .cdk-drag {
    /* this is the animation that fires for the drag */
      transition: transform 150ms ease;
  }
  
  .cdk-drag-animating {
    /* this is the animation that fires for the drop */
    transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
  }
  
  .cdk-drag-placeholder {
    /* setting opacity to zero makes a blank space between list items during drag preview */
    opacity: 0;
  }
  
  .cdk-drag-preview {
    background-color: greenyellow;
    box-sizing: border-box;
    border-radius: 4px;
    box-shadow: 0 5px 5px -3px rgba(0, 0, 0, 0.2),
                0 8px 10px 1px rgba(0, 0, 0, 0.14),
                0 3px 14px 2px rgba(0, 0, 0, 0.12);
    opacity: .7;
    width: 45px;
    height: 45px;
  }
  