
<div  [ngClass]="clicked ? 'darSideBar' : 'master-side'">
        
    <div *ngIf="!clicked" class="content">
        <div class="side-wrapper">
            <div class="side-title">Devices Info </div>
            <div class="masterside-menu">
                <div class="card p-3 mb-2 justify-content-center" style="border-radius: 15px;">
                    <div class="d-flex justify-content-center">
                      
                        <div class="flex  ">
                          <div class="d-flex justify-content-around  m-1">
                              
                              <img src="../../../../assets/images/people-enter.png"
                              alt="Generic placeholder image" class="img-fluid" style="width: 50px; height: 50px; border-radius: 25px;">
                              <div class="ml-3">
                                <p class="mb-2 pb-1 value">People Counter</p>
                          
                              </div>
                          </div>
                          <div class="d-flex justify-content-start rounded-3 ">
                              <div>
                                <p class="small text-muted mb-1">Total</p>
                                <p class="mb-0 value">41</p>
                              </div>
                              <div class="px-3">
                                <p class="small text-muted mb-1">Mapped</p>
                                <p class="mb-0 value">9</p>
                              </div>
                              <div class="px-3">
                                <p class="small text-muted mb-1">Un-Mapped</p>
                                <p class="mb-0 value">9</p>
                              </div>
                            </div>
                          
                        
                         
                        </div>
                        
                      </div>
                </div>
                <div class="card p-3 mb-2 justify-content-center" style="border-radius: 15px;">
                    <div class="d-flex justify-content-center">
                      
                        <div class="flex  ">
                          <div class="d-flex justify-content-around  m-1">
                              
                              <img src="../../../../assets/images/smart-display.png"
                              alt="Generic placeholder image" class="img-fluid" style="width: 50px; height: 50px; border-radius: 25px;">
                              <div class="ml-3">
                                 
                          <p class="mb-2 pb-1 value">Smart Display</p>
                              </div>
                          </div>
                          <div class="d-flex justify-content-start rounded-3 ">
                              <div>
                                <p class="small text-muted mb-1">Total</p>
                                <p class="mb-0 value">41</p>
                              </div>
                              <div class="px-3">
                                <p class="small text-muted mb-1">Mapped</p>
                                <p class="mb-0 value">9</p>
                              </div>
                              <div class="px-3">
                                <p class="small text-muted mb-1">Un-Mapped</p>
                                <p class="mb-0 value">9</p>
                              </div>
                            </div>
                          
                        
                         
                        </div>
                        
                      </div>
                </div>
                <div class="card p-3 mb-2" style="border-radius: 15px;">
                    <div class="d-flex justify-content-center">
                      
                        <div class="flex  ">
                          <div class="d-flex justify-content-around  m-1">
                              
                              <img src="../../../../assets/images/ocp-advance.png"
                              alt="Generic placeholder image" class="img-fluid" style="width: 50px; height: 50px; border-radius: 25px;">
                              <div class="ml-3">
                                <p class="mb-2 pb-1 value">Occupancy Sensor</p>
                                  <h5 class="mb-1 title">Advance</h5>
                          
                              </div>
                          </div>
                          <div class="d-flex justify-content-start rounded-3 ">
                              <div>
                                <p class="small text-muted mb-1">Total</p>
                                <p class=" value mb-0">41</p>
                              </div>
                              <div class="px-3">
                                <p class="small text-muted mb-1">Mapped</p>
                                <p class=" value mb-0">9</p>
                              </div>
                              <div class="px-3">
                                <p class="small text-muted mb-1">Un-Mapped</p>
                                <p class=" value mb-0">9</p>
                              </div>
                            </div>
                          
                        
                         
                        </div>
                        
                      </div>
                </div>
        
                <div class="card p-3 mb-2 justify-content-center" style="border-radius: 15px;">
                    <div class="d-flex justify-content-center">
                      
                        <div class="flex  ">
                          <div class="d-flex justify-content-around  m-1">
                              
                              <img src="../../../../assets/images/occp-basic.png"
                              alt="Generic placeholder image" class="img-fluid" style="width: 50px; height: 50px; border-radius: 25px;">
                              <div class="ml-3">
                                <p class="mb-2 pb-1 value">Occupancy Sensor</p>

                                  <h5 class=" title mb-1">Basic</h5>
                              </div>
                          </div>
                          <div class="d-flex justify-content-start rounded-3 ">
                              <div>
                                <p class="small text-muted mb-1">Total</p>
                                <p class="value mb-0">41</p>
                              </div>
                              <div class="px-3">
                                <p class="small text-muted mb-1">Mapped</p>
                                <p class="value mb-0">9</p>
                              </div>
                              <div class="px-3">
                                <p class="small text-muted mb-1">Un-Mapped</p>
                                <p class=" value mb-0">9</p>
                              </div>
                            </div>
                          
                        
                         
                        </div>
                        
                      </div>
                </div>
               
                <div class="card p-3 mb-2 justify-content-center" style="border-radius: 15px;">
                    <div class="d-flex justify-content-center">
                      
                        <div class="flex  ">
                          <div class="d-flex justify-content-around  m-1">
                              
                              <img src="../../../../assets/images/scan-advance.png"
                              alt="Generic placeholder image" class="img-fluid" style="width: 50px; height: 50px; border-radius: 25px;">
                              <div class="ml-3">
                                <p class="mb-2 pb-1 value text-wrap">Work Validation Scanner</p>
                                  <h5 class="mb-1 title">Advance</h5>
                          
                              </div>
                          </div>
                          <div class="d-flex justify-content-start rounded-3 ">
                              <div>
                                <p class="small text-muted mb-1">Total</p>
                                <p class="mb-0 value">41</p>
                              </div>
                              <div class="px-3">
                                <p class="small text-muted mb-1">Mapped</p>
                                <p class="mb-0 value">9</p>
                              </div>
                              <div class="px-3">
                                <p class="small text-muted mb-1">Un-Mapped</p>
                                <p class="mb-0 value">9</p>
                              </div>
                            </div>
                          
                        
                         
                        </div>
                        
                      </div>
                </div>
        
                <div class="card p-3 mb-2 justify-content-center" style="border-radius: 15px;">
                    <div class="d-flex justify-content-center">
                      
                        <div class="flex  ">
                          <div class="d-flex justify-content-around  m-1">
                              
                              <img src="../../../../assets/images/barcode-scanner-advance.png"
                              alt="Generic placeholder image" class="img-fluid" style="width: 50px; height: 50px; border-radius: 25px;">
                              <div class="ml-3">
                                <p class="mb-2 pb-1 value text-wrap">Work Validation Scanner</p>
                                  <h5 class="mb-1 title">Basic</h5>
                          
                              </div>
                          </div>
                          <div class="d-flex justify-content-start rounded-3 ">
                              <div>
                                <p class="small text-muted mb-1">Total</p>
                                <p class="mb-0 value">41</p>
                              </div>
                              <div class="px-3">
                                <p class="small text-muted mb-1">Mapped</p>
                                <p class="mb-0 value">9</p>
                              </div>
                              <div class="px-3">
                                <p class="small text-muted mb-1">Un-Mapped</p>
                                <p class="mb-0 value">9</p>
                              </div>
                            </div>
                          
                        
                         
                        </div>
                        
                      </div>
                </div>
         
            </div>
            
           </div>
    </div>
</div>